body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .book-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    backdrop-filter: blur(6px);
  }
  
  .book-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
  }
  
  button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .pop-up{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;

  } 

 .pop-up .book-container .close{
    position: absolute;
    height: 28px;
    right: 0px;
    top: 0px;
   cursor: pointer;
 }
 #from-date{
    padding: 15px;
 }
 #to-date{
    padding: 15px;
 }