*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:arial;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#f94449,#d1001f);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 90px;
background: linear-gradient(135deg,#f94449,#c30010);
}

.container form .car_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .car_details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.car_details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}

.car_details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #9a9696;
    padding-left: 15px;
    font-size: 16px;
    /* border-bottom-width: 2px; */
    /* transition: all 0.3s ease; */
}



.file{
    margin-bottom: 15px;
    margin-right: 50px;
}

.space{
    margin-right: 50px;
}
#file{
    font-size: 16px;
    background: white;
    border-radius: 5px;
   border: 1px solid #9a9696;
    width: 250px;
    outline: none;
}

::-webkit-file-upload-button{
    color: #fff;
    background:#d71929;
    padding: 8px;
    border: none;
    border-radius: 5px;
   
}

::-webkit-file-upload-button:hover{
    background: #f94449;
}

#fual{
        margin-bottom: 27px;
        text-align: left;
        font-size: 22px;
        width: 150px;
        border-radius: 4px;
        height: 43px;
        border: 1px solid #9a9696;
        
}

.fual-type{
    margin-right: 150px;
}

form .button{
    height: 45px;
    width: 45px 0;
}

form .button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    background:linear-gradient(135deg,#f94449,#c30010);
    border-radius: 5px;
}

label{
    height: 100px;
    width: 150px;
    border-radius: 6px;
    border: 1px dashed #999;
    margin-right: 147px;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 20px;
}

label:hover{
    border-color: #d1001f;
    border: 1px dashed ;
}

form .button input:hover{
    background:linear-gradient(-135deg,#f94449,#c30010);
}

@media (max-width:584px){
    .container{
        max-width: 100%;
    }

    form .car_details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .car_details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .car_details::-webkit-scrollbar{
        width: 0;
    }
}