*{
    margin: 25%;
    padding: 0%;
    box-sizing: border-box;
    font-family:arial;
}

body{
    display: flex;
    height:auto;
    width:auto;

}

.container{
    
    width: 76%;
    background:#f1eeee;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    /* padding: 25px 30px; */
    border-radius: 5px;
}

.container .title{
    margin-left: 20px;
    font-size: 35px;
    font-weight: bold;
    position: relative;
}

.container .title::before{
content: "";
position: absolute;
left: 0px;
bottom: 0px;
height: 5px;
width: 130px;
background: linear-gradient(135deg,#f94449,#c30010);
}

.container form .car_details{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 /* margin: 20px 0 12px 0; */
}

form .car_details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .car_details .up-img{
   margin-left: 35px;
}

.car_details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}
.car_details .fual-type .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}
.accessories .select-box .details{
    
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}

.car_details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.car_details .input-box input:focus,
.mil input:focus,
.car_details .input-box input:valid{

border-color:#d1001f;
}


#door,#fual,#fual-tank,#break,#engine,#engine-power{
    margin-bottom: 27px;
    text-align: left;
    font-size: 22px;
    width: 200px;
    border-radius: 4px;
    height: 43px;
    border: 1px solid #d1001f;
}
#mil{
    border: 1px solid red;
}

.fual-type{
    margin-right: 150px;
}

form .button{
    height: 45px;
    width: 45px 0;
}

form .button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    background:linear-gradient(135deg,#f94449,#c30010);
    border-radius: 5px;
}

#file{
    display: none;
}

label{
    height: 100px;
    width: 150px;
    border-radius: 6px;
    border: 1px dashed #999;
    margin-right: 292px;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 20px;
}

label:hover{
    border-color: #d1001f;
    border: 1px dashed ;
}

form .button input:hover{
    background:linear-gradient(-135deg,#f94449,#c30010);
}
form .accessories{
    display: flex;
    flex-wrap: wrap; 
    padding-top: 25px;    
    margin-left: 20px;
}
form .accessories .select-box{
    width: calc(100% / 2 - 20px);
}

form .mil{
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
}
.mil .mi-de{
    margin-top: 5px;
    font-size: 20px;
}
form .mil input{

    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-bottom: 22px;
}
@media (max-width:584px){
    .container{
        max-width: 100%;
    }

    form .car_details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .car_details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .car_details::-webkit-scrollbar{
        width: 0;
    }
}
.up-img-txt{
    margin-top: 0px;;
    margin-right: 80%;
    
    
}
.bi-txt{
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
form{
    width: auto;
    background-color: white;
}
